.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/Preloader_2.gif) center no-repeat #fff;
}

body{
  background-size:cover;
  background-repeat: no-repeat;
  overflow:hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /**/
}

a:link, a:visited, a:hover, a:active{
    color: #fff;
    text-decoration: none;
}

a:hover{
  -webkit-box-shadow: 0px 5px 0px 0px #fff;
  -moz-box-shadow: 0px 5px 0px 0px #fff;
  box-shadow: 0px 5px 0px 0px #fff;
}

.font-lato{
  font-family: 'Lato', sans-serif;
}

.font-BreeSerif{
  font-family: 'Bree Serif', serif;
}

.font-Slabo{
  font-family: 'Slabo 27px', serif;
}

.font-Poiretone{
  font-family: 'Poiret One', cursive;
}

.font-Montserrat{
  font-family: 'Montserrat', sans-serif;
}

header{
  position:absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height:auto;
  font-size: 16px;
  padding: 10px;
  text-shadow: none;
}

header p {
  color: #fff;
}

header button{
  margin-top: 10px;
  width:100%;
}

header h1{
  colour:#fff;
  text-align: center;
  font-size: 60px;
}

header fa{
  text-align: center;
}

.header-left{
  width: 33%;
  float: left;
  padding-right: 20px;
}

.header-left-column1{
  float: left;
  width:50%;
  padding-right:10px;
}

.header-left-column2{
  float: left;
  width:50%;
  padding-left:10px;
}

.header-centre{
  min-height: 350px;
  line-height: 179px;
  width:33%;
  float: left;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding:20px;
  height: 100%;
  padding: 0px 20px;
}
.header-right{
  float: left;
  width: 33%;
  padding-left:20px;
}

.header-right-column1{
  min-height: 350px;
  width: 23%;
  float: left;
  padding-right: 20px;
  line-height: 70px;
  border-right: 1px solid #fff;
}
.header-right-column2{
  float: left;
  width:77%;
  padding-left:20px;
  padding-top: 110px;
  line-height: 30px;
  text-align: center;
}

/*Menu Button Toggle*/
#drop-toggle{
  font-family: FontAwesome;
  transition: all 1s ease;
  position: fixed;
  top:5px;
  right: 5px;
  z-index: 3;
  -webkit-text-stroke: 1px rgba(255, 255, 255,0.8);
}

.drop-toggle-open:before{
  content: "\f013";
  color: #fff;
}

.drop-toggle-close:before{
  content: "\f00d";
  color: #fff !important;
}

#drop-toggle:hover{
  cursor: pointer;
}


/*Time Styling*/
/*--Default
*/
.time-block{
  padding: 0px 20px;
  position:relative;
  width:100%;
  height:100vh;
  float:left;
  color: rgba(255,255,255,0.9);
  text-shadow: 2px 2px 2px rgba(52, 73, 94,1.0);
  user-select: none;
  -webkit-user-select: none;
}

.time-digits{
  width: 6%;
  display: inline-block;
  height:70vh;
}

.time-digits h1{
  line-height: 70vh;
  font-size: 160px;
}


.time-left{
  width: 100%;
  float: :left;
}

.time-centre{
  text-align: center;
  width:100%;
  margin: auto;
}

.time-right{
  width:100%;
  text-align: right;
  float: right;
}

.time-digits{
  -webkit-animation-duration: 1s;
}

.time-colon{
}

.date-box{
  width: auto;
  border-top: 1px solid #fff;
}

.date-digits{
  display: inline;
  font-size: 50px;
}


/*Media querries*/
@media(max-width: 1280px){
  .time-digits{
    width: 12%;
    font-size: 160px;
    line-height: 70vh;
  }
  .date-digits{
    font-size: 40px;
  }
  .header-left{
    width: 50%;
  }
  .header-centre{  
    width:50%;
    border-right: none;
  }
  .header-right{
    width:100%;
  }
  .header-right-column1{
    min-height: auto;
    margin-top: 20px;
    width: 100%;
    border-color: #fff;
    border-style: solid;
    border-width: 1px 0px;
    height: auto;
    text-align: center;
  }
  .header-right-column1 p{
    display: inline-block;
    width:24%;
  }
  .header-right-column2{
    float: left;
    width:100%;
    text-align: center;
    padding-left: 0px;
    padding-top: 20px;
  }
}

@media(max-width: 768px){
  .time-digits{
    width: 12%;
    font-size: 45px;
    line-height: 70vh;
  }
  .date-digits{
    font-size: 40px;
  }
}


/*Settings for theme colours*/

/*Theme -- Wet Asphalt*/
.background-setting-wetasphalt header{
  background-color:rgba(44, 62, 80,0.8);
}
.background-setting-wetasphalt .time-colon, 
.background-setting-wetasphalt .date-divide,
.background-setting-wetasphalt .drop-toggle-open:before{
  color:rgba(44, 62, 80,0.8);
}

/*Theme -- Alizarin*/
.background-setting-Alizarin header{
  background-color:rgba(231, 76, 60,0.8);
}
.background-setting-Alizarin .time-colon, 
.background-setting-Alizarin .date-divide,
.background-setting-Alizarin .drop-toggle-open:before{
  color:rgba(231, 76, 60,0.8);
}

/*Theme -- Turquoise*/
.background-setting-Turquoise header{
  background-color:rgba(26, 188, 156,0.8);
}
.background-setting-Turquoise .time-colon, 
.background-setting-Turquoise .date-divide,
.background-setting-Turquoise .drop-toggle-open:before{
  color:rgba(26, 188, 156,0.8);
}

/*Theme -- Pumpkin*/
.background-setting-Pumpkin header{
  background-color:rgba(211, 84, 0,0.8);
}
.background-setting-Pumpkin .time-colon, 
.background-setting-Pumpkin .date-divide,
.background-setting-Pumpkin .drop-toggle-open:before{
  color:rgba(211, 84, 0,0.8);
}

/*Theme -- Peter River*/
.background-setting-PeterRiver header{
  background-color:rgba(52, 152, 219,0.8);
}
.background-setting-PeterRiver .time-colon, 
.background-setting-PeterRiver .date-divide,
.background-setting-PeterRiver .drop-toggle-open:before{
  color:rgba(52, 152, 219,0.8);
}